# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
thumbs.db

# Streamlit specific
.streamlit/